<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 打印sql执行过程,这个value可以是mybatis官方中内容 -->
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>
</configuration>